body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #CF7223, #7D9040);
  font-family:'Times New Roman', Times, serif
}
.nav-container{
    text-align: center;
    color: white;
    padding-top: 50px;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}
.anchor-nav{
    color: whitesmoke;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}
.logo{
    width: 5rem;
}
.title{
    font-size: 30px;
}
.categorias{
    font-size: 20px;
    padding-left: 1rem;
}
